*, *::after, *::before{
  box-sizing: border-box;
}
body, input, button{
  font-family: "Rubik", sans-serif;
}
input{
  display: block;
  width: 100%;
  border: 2px solid #333;

  padding: 16px;
  border-radius: 4px;
}
input + input{
  margin-top: 8px;
}
button{
  display: block;
  width: 100%;
  background: #333;

  padding: 16px;
  border-radius: 4px;

  color: white;
  border: none;
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
}
a{
  display: block;
  line-height: 1.35;
}